body {
  background-color: #042227;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0;
}

canvas {
    border: 100px solid red;
    display: none;
  }

  .game-over {
    display: none;
    
  }

    .game-intro, .game-over {

    
    background-image: url("../images/background-horizontal.png");
    background-size:cover;
    object-fit: fill;
    
    align-items: center;
    text-align: center; 
    font-size: 3em;
    font-family: 'ArcadeClassic', sans-serif;
/*    src: url("../fonts/ARCADECLASSIC.TTF");*/
    word-spacing: 5px;
    color: #A8B6FF;
    height: 100%;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    
  }


/*
  #start-button {
    font-size: 1em;
    font-family: 'ArcadeClassic', sans-serif;
    color: #A8B6FF;
    background-color: black;
   }
 
*/
  
  .gameStartButtons {
    font-size: 1em;
    font-family: 'ArcadeClassic', sans-serif;
    color: #042227;
    background-color: #A8B6FF;
    border-radius: 50px;
    box-shadow: 4px 4px 5px #A8B6FF;
    


  }