body {
  background-color: #042227;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0;
}

h1 {
  margin: 0px;
  padding: 0;
}

canvas {
    border: 100px solid red;
    display: none;
  }
  
  .game-over {
    display: none;
    
  }

  .game-intro, .game-over {
    background-image: url("../images/background-horizontal.png");
    background-size:cover;
    object-fit: fill;
    
    align-items: center;
    text-align: center; 
    font-size: 3em;
    font-family: 'ArcadeClassic', sans-serif;
    word-spacing: 6px;
    color: #A8B6FF;
    height: 100%;
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }


/*
  #start-button {
    font-size: 1em;
    font-family: 'ArcadeClassic', sans-serif;
    color: #A8B6FF;
    background-color: black;
   }
 
*/
  
  .gameStartButtons {
    font-size: 1em;
    font-family: 'ArcadeClassic', sans-serif;
    color: #042227;
    background-color: #A8B6FF;
    border-radius: 50px;
    box-shadow: 4px 4px 5px #A8B6FF;
  }
  @keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

  #dylan2 {
    animation: rotating 2s linear infinite;
  }

  #mute-button {
    position: relative;
    z-index: 10;
    height: 50px;
    width: 130px;
    font-size: 28px;
    border-radius: 50px;
    background-color: #A8B6FF;
    color: #042227;
    box-shadow: 4px 4px 5px #A8B6FF;
    margin-bottom: 30px;
    border-radius: 10px;
    transition: all 1s ease-in-out;
    font-family: 'ArcadeClassic', sans-serif;
    align-items: center;
  }

